

.sidebar{
    position: absolute;
    height: 100%;
    width: 250px;
    background-color: #ffffff;
    border-right: 1px var(--grey) solid;
    padding: 20px;
}

.chat-grid{
    padding-top: 30px;
    display: grid;
    grid-template-columns: repeat(4, 4fr);
    gap: 20px;
}

.chat-item{
    padding: 10px;
    width: 200px;
    border-radius: 8px;

}

.chat-item:hover{
    background-color: #ffffff;
}
