

.sidebar{
    position: absolute;
    height: 100%;
    background-color: var(--b-dark);
    /* border-right: 1px var(--grey) solid; */
    padding: 20px;
    overflow-y: auto;

}

.sidebar-small-text{
    padding: 0px;
    margin: 0px;
    color: var(--t-smoke);
}

.chat-grid{
    padding-top: 30px;
    display: grid;
    grid-template-columns: repeat(4, 4fr);
    gap: 20px;
}

.chat-item{
    padding: 10px;
    width: 300px;
    border-radius: 8px;

}

.chat-item:hover{
    background-color: #ffffff;
}
