:root{
  --grey: rgba(199, 199, 199, 0.9);

  /* chatgpt colors */
  --b-dark: #181818;
  --b-grey: #212121;
  --b-light-grey: #303030;

  --t-white: #FFFFFF;
  --t-smoke: #5D5D5D;
}

body {
  margin: 0px;
  background-color: var(--b-grey);
}

.font1{
  font-family: 'Courier New', Courier, monospace;
}

.viewport{
  width: 100%;
  min-height: 100vh;
  height: 100%;
  position: relative;
}

.ai-section{
  width: 100%;
  height: 100%;
  position: relative;
 
  
  display: flex;
  justify-content: center;
}

.output-section{
  --output-width: 700px;
  width: var(--output-width);
  height: 100%;
 
  padding-top: 100px;
  margin-bottom: 200px;
}


.input-section{
  position: fixed;
  height: 180px;
  width: 800px;
  z-index: 3;
  bottom: 0px;
}

.input-text-field{
  height: 160px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid var(--grey);
  background-color: white;
  padding: 10px;
  padding-bottom: 30px;
}

.input-text{
  padding: 10px;
  border-radius: 8px;
  width: 100%;
  height: 100px;
}


::-webkit-scrollbar-track {
    background: transparent;   /* Removes background color */
    border: none;              /* Removes border */
}

/* Optionally style the scrollbar thumb or hide it */
::-webkit-scrollbar-thumb {
    background: var(--b-light-grey);  /* or transparent to hide */
    border: none;
    border-radius: 8px;
}

/* Width/height of scrollbar itself */
::-webkit-scrollbar {
    width: 8px;    /* or 0 to fully hide */
    background: transparent;
}
/* Reset margin and padding for all elements */
* {
 font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
  box-sizing: border-box;
  color: var(--t-white)
}
p {
    margin: 0px;
   color: var(--t-white)
}